/* Add a hover effect if you want */
.fbBtn:hover, .googleBtn:hover, .githubBtn:hover {
    opacity: 0.7;
}
/* Set a specific color for each brand */

/* Facebook */
.fbBtn {
    background: #3B5998;
    color: white;
}

.googleBtn{
    background: #dd4b39;
    color: white;
}
.githubBtn{
    background: black;
    color:white;
}

i{
    margin-right: 5%;
}