<div class='card'>

  <h3 class='card-header bg-primary text-white'>
  {{pageTitle}}
  </h3>
  <div class='card-body'>
      <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]='listFilter' placeholder="Filter by:" aria-label="Filter by:" aria-describedby="basic-addon1">
        </div>
        <h4 class="card-text">Filtered by: {{listFilter}}</h4>
      <div class='table-responsive'>
          <table class='table' *ngIf='products && products.length'>
              <thead>
                  <tr>
                      <th>
                          <button class='btn btn-primary' (click)='toggleImage()'>
                              {{showImage ? 'Hide':'Show'}} Image
                          </button>
                      </th>
                      <th>Product</th>
                      <th>Code</th>
                      <th>Available</th>
                      <th>Price</th>
                      <th>5 Star Rating</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                 <tr *ngFor='let product of filteredProducts'>
                     <td><img *ngIf='showImage'
                        [src]='product.imageUrl'
                        [title]='product.productName'
                        [style.width.px]='imageWidth'
                        [style.margin.px]='imageMargin'>
                    </td>
                     <td>{{product.productName}}</td>
                     <td>{{product.productCode | convertToSpaces:'-'}}</td>
                     <td>{{product.releaseDate}}</td>
                     <td>{{product.price | currency: 'EUR':'symbol':'1.2-2'}}</td>
                     <td>
                         <app-star-rating [rating]='product.starRating'
                        (notify)='onNotify($event)'></app-star-rating>
                    </td>
                    <td>
                        <button id="remove" class="btn btn-danger" (click)="deleteProduct(product.id)">
                            <i class="fa fa-trash"></i>Delete</button>
                    </td>
                 </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

